<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{current_user.username}}!</p>

    <h2>Car Management</h1>
    <form action="{{url_for('add_new_car')}}" method="POST">
        <label for="make">Car Make</label>
        <input type="text" id="make" name="make" required><br>

        <label for="model">Car Model</label>
        <input type="text" id="model" name="model" required><br>

        <button type="submit">Add New Car</button>
    </form>

    <h3>Available Cars</h3>
    <ul>
        {% for car in cars %}
            <li>{{ car.make }} {{ car.model }} 
                <form action="{{ url_for('delete_car', car_id=car.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>